/* 左欄  */
.sidebar {
  background: rgba(87, 87, 87, 0.27);
  display: flex;
  flex-direction: column;
  padding: 40px 23px;
  transition: 0.5s ease;
}

.line {
  border: 1px solid white;
  width: 100%;
  margin: -10px 0 20px 0;
}

.selected-section {
  background: #FFF;
  color: black;
  width: 100%;
}