.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.circle {
  padding: 6px;
  background: #D9D9D9;
  border-radius: 4px;
}

.gift-bar {
  gap: 32px;
  width: 98%;
  border-radius: 8px;
  background: rgba(87, 87, 87, 0.27);
  backdrop-filter: blur(2px);
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  color: black;
}

/* RWD */
@media (max-width: 768px) {

  .gift-bar {
    overflow-x: auto;
    gap: 15px;
    position: absolute;
    bottom: 11%;
    z-index: 10;
    color: white;
    backdrop-filter: blur(6px);
  }

  .gift {
    font-size: 14px;
  }

  .circle {
    padding: 20px;
  }

}