.container {
  background-color: #292929;
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  font-family: "IBM Plex Mono", "Noto Sans TC";
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 80px;
}

.content-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 124px;
}

.viewer-block {
  padding: 110px;
  border: 2px solid #FFF;
  background: #D9D9D9;
  border-radius: 12px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.viewer-block:hover {
  display: flex;
  transform: scale(1.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #000;
  color: white;
  box-shadow: -12px -12px 30px 0px rgba(255, 255, 255, 0.40), 12px 12px 30px 0px rgba(255, 255, 255, 0.30);
}

.streamer-block {
  padding: 110px;
  border: 2px solid #FFF;
  background: #D9D9D9;
  border-radius: 12px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.streamer-block:hover {
  display: flex;
  transform: scale(1.2);
  /* width: 445px;
  height: 592px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #000;
  color: white;
  box-shadow: -12px -12px 30px 0px rgba(255, 255, 255, 0.40), 12px 12px 30px 0px rgba(255, 255, 255, 0.30);
}

.cancel {
  position: absolute;
  right: 10px;
  top: 10px;
}

.unhover {
  display: flex;
  padding: 90px;
  height: 80%;
  transform: scale(0.9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 4px dashed #FFF;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}

@media (max-width: 768px) {

  .title {
    font-size: 50px;
    margin-bottom: 60px;
  }

  .content-block {
    gap: 30px;
    display: flex;
    align-items: center;
  }

  .viewer-block,
  .streamer-block {
    padding: 50px 30px;
  }

  .viewer-block:hover,
  .streamer-block:hover {
    padding: 50px 30px;
    transform: scale(1.2);
  }

  .viewer-block:hover{
    margin-left: 20px;
  }

  .streamer-block:hover{
    margin-right: 20px;
  }

  .unhover {
    padding: 50px 30px;
    transform: scale(0.9);
  }

}